# Setting aliases
alias n="spotify next"
alias p="spotify pause"
alias pp="spotify prev"
alias c="clear"
alias o="open ."
alias h="history | grep "
alias c.="code ."
alias b="blueutil"
alias x="exit"
alias st="open -a SourceTree"
alias lz="lazygit"
alias cr="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias e="emacs --no-window"

alias mongo='ulimit -n 4096  && /Users/harsilpatel/Utils/mongodb-osx-x86_64-enterprise-3.6.9/bin/mongod --config /Users/harsilpatel/Utils/mongodb-osx-x86_64-enterprise-3.6.9/mongod.conf'
alias redis='ulimit -n 4096 && /Users/harsilpatel/Utils/redis-3.2.9/src/redis-server /Users/harsilpatel/Utils/redis-3.2.9/redis.conf'

# taken from https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
