# oh my zsh aliases
alias /="cd /"
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias d="dirs -v"

# Setting aliases
alias e="exa -alrs=created"
alias n="spotify next"
alias p="spotify pause"
alias pp="spotify prev"
alias l="lazygit"
alias o="open ."
alias h="history | grep "
alias c="code ."
alias x="exit"
alias rmrf="rm -rf"

alias va="$EDITOR \"$DOTFILES/.aliases\""
alias ve="$EDITOR \"$DOTFILES/.exports\""
alias vf="$EDITOR \"$DOTFILES/.functions\""
alias vz="$EDITOR \"$DOTFILES/zshrc\""
alias vl="$EDITOR ~/.vscode/extensions/shengchen.vscode-leetcode-*/out/src/commands/list.js"
alias vp="$EDITOR \"$DOTFILES/.p10k.zsh\""
alias vt="$EDITOR \"$DOTFILES/.tmux.conf\""
alias vv="$EDITOR \"$DOTFILES/.vimrc\""
alias vs="$EDITOR \"$DOTFILES/.skhdrc\""
alias vy="$EDITOR \"$DOTFILES/.yabairc\""
alias vpj="$EDITOR package.json"

# git aliases
alias gcop="gco @{-1}"

# grunt aliases
alias gu="grunt u"
alias gfd="grunt fd"
alias gud="grunt ud"

# aliases for backend configs
alias redis="ulimit -n 4096 && \"$WORKSPACE/utils/redis-3.2.9/src/redis-server\" \"$WORKSPACE/utils/redis-3.2.9/redis.conf\""
alias mongo="ulimit -n 4096  && \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-3.6.9/bin/mongod\" --config \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-3.6.9/mongod.conf\""
alias mongo4="ulimit -n 4096  && \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-4.0.16/bin/mongod\" --config \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-4.0.16/mongod.conf\""
alias mongo42="ulimit -n 4096  && \"$WORKSPACE/utils/mongodb-macos-x86_64-enterprise-4.2.3/bin/mongod\" --config \"$WORKSPACE/utils/mongodb-macos-x86_64-enterprise-4.2.3/mongod.conf\""

# taken from https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# aliases for blueutil
alias b="blueutil"
alias bz="blueutil --power 0"
alias bo="blueutil --power 1"
alias bt="blueutil --power toggle"
alias bh="blueutil --connect "WH-1000XM3""
alias bd="blueutil --disconnect "WH-1000XM3""
