export DOTFILES="$HOME/.dotfiles"

export EDITOR='vim';

export HISTFILE="$HOME/.zsh_history"
export HISTSIZE=50000
export SAVEHIST=10000

export NVM_LAZY_LOAD=true

export PATH=$HOME/bin:/usr/local/bin:/usr/local/Cellar/openvpn/2.4.8/sbin:$PATH

export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=#9e9e9e" 

export JAVA_HOME=$(/usr/libexec/java_home)
export HISTCONTROL='ignoreboth';

export GPG_TTY=$(tty)
