export DOTFILES="$HOME/.dotfiles"
export WORKSPACE="$HOME/workspace"

export EDITOR='vim';

export HISTFILE="$HOME/.zsh_history"
export HISTSIZE=10000
export SAVEHIST=10000

export NVM_LAZY_LOAD=true

export PATH=$HOME/bin:/usr/local/bin:/usr/local/Cellar/openvpn/2.4.8/sbin:$PATH

export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=#8a8a8a" 

export JAVA_HOME=$(/usr/libexec/java_home)
export HISTCONTROL='ignoreboth:erasedups:ignorespace';

export GPG_TTY=$(tty)
