function lcode() {
  f=$1
  git add $f
  git commit -v -m "add ${f}"
  git push
}

function lc() {
  if [[ "$PWD" == "/Users/harsilpatel/Workspace/leetcode" ]]
    then
    f=$(ls -t | head -n 1)
    lcode $f 
  fi
}

function api() {
    git clone https://gitlab.com/medipass/software/medipass-api.git
    cd medipass-api
    npm i
    mkdir ./.vscode
    cp ~/Workspace/commons/launch.json ./.vscode/launch.json
    cp ~/Workspace/commons/Gruntfile.js ./Gruntfile.js
}

function take() {
    mkdir -p $1
    pushd $1 > nul
}
