[user]
	name = Harsil Patel
	email = harsilspatel@gmail.com
	signingkey = BA0EB6A706D6638D
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	template = ~/.stCommitMsg
	gpgsign = true
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
