[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "chrome-extensions/bypass-paywalls-chrome"]
	path = chrome-extensions/bypass-paywalls-chrome
	url = https://github.com/iamadamdev/bypass-paywalls-chrome
[submodule "config/hammerspoon/modules/stackline"]
	path = config/hammerspoon/modules/stackline
	url = https://github.com/AdamWagner/stackline
[submodule "config/hammerspoon/modules/roeybiran"]
	path = config/hammerspoon/modules/roeybiran
	url = https://github.com/roeybiran/.hammerspoon
[submodule "config/hammerspoon/Spoons/SkyRocket.spoon"]
	path = config/hammerspoon/Spoons/SkyRocket.spoon
	url = https://github.com/dbalatero/SkyRocket.spoon.git
