
{:templates {:open "open \"%s\""}
 :layers    {}
 :simlayers {;; make w key a simlayer key
             ;; layers works too, but only recommended for none typing keys
             ;; like . , tab
             ;; or keys like z, which used less often
             :launch-mode-period {:key :period}}
 :main      [{:des   "launch mode"
              :rules [:launch-mode-period
                      [:s [:open "/Applications/Spotify.app"]]
                      [:l [:open "/Applications/Google Chrome.app"]]
                      ]
            }
            ]
 }
