# oh my zsh
alias /="cd /"
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias d="dirs -v"

# Setting
alias c="code ."
alias ch="wc -l $HISTFILE; cp $HISTFILE $HISTFILE.bak; nl ~/.zsh_history | LC_ALL=C sort -k 2  -k 1,1nr| uniq -f 1 | LC_ALL=C sort -n | cut -f 2 > $HISTFILE; wc -l $HISTFILE;"
alias e="exa -alrs=created"
alias h="cat $HISTFILE | grep "
alias j="jest"
alias l="lazygit"
alias n="spotify next"
alias o="open ."
alias p="spotify pause"
alias pp="spotify prev"
alias rmrf="rm -rf"
alias v="$EDITOR"
alias vim="$EDITOR"
alias x="exit"

# npm alias
alias na="npm audit"
alias naf="npm audit fix"
alias ni="npm i"
alias nid="npm i -D"
alias nig="npm i -g"
alias np="npm prune"
alias nr="npm run"
alias ns="npm start"
alias nt="npm test"
alias nu="npm uninstall"
alias nv="npm version"

# tmux alias
alias t="tmux"
alias ta="tmux attach -t"
alias tk="tmux kill-session -t"
alias tks="tmux kill-server"
alias tl="tmux list-sessions"
alias tn="tmux new-session -s"

# frequent files
alias va="$EDITOR \"$DOTFILES/zsh/.aliases\""
alias vc="crontab -e"
alias ve="$EDITOR \"$DOTFILES/zsh/.zshenv\""
alias vf="$EDITOR \"$DOTFILES/zsh/.functions\""
alias vl="$EDITOR ~/.vscode/extensions/leetcode.vscode-leetcode-*/out/src/commands/list.js"
alias vm="$EDITOR \"$DOTFILES/config/nvim/maps.vim\""
alias vp="$EDITOR \"$DOTFILES/.p10k.zsh\""
alias vpj="$EDITOR package.json"
alias vs="$EDITOR \"$DOTFILES/.skhdrc\""
alias vt="$EDITOR \"$DOTFILES/.tmux.conf\""
alias vv="$EDITOR \"$DOTFILES/config/nvim/init.vim\""
alias vy="$EDITOR \"$DOTFILES/.yabairc\""
alias vz="$EDITOR \"$DOTFILES/zsh/.zshrc\""

# git
alias ga="git add"
alias gaa="git add --all"
alias gau="git add --update"
alias gc="git commit -v -m"
alias gca="git commit -v --amend -m"
alias gcane="git commit -v --amend --no-edit"
alias gcd="git checkout develop"
alias gcl="git clone"
alias gcm="git checkout master"
alias gcnv="git commit -v --no-verify -m"
alias gco="git checkout"
alias gcop="git checkout @{-1}" # checkout the previously checkedout branch
alias gd="git diff"
alias gdc="git diff --color-words=."
alias gdw="git diff --color-words"
alias ggc="git gc --aggresive"
alias gl="git pull"
alias glog="git log --oneline --decorate --graph"
alias gm="git merge"
alias gp="git push"
alias grv="git remote -v"
alias gski="git stash push --keep-index"
alias gsl="git stash list"
alias gspo="git stash pop"
alias gspu="git stash push"
alias gst="git status"

# backend configs
alias redis="ulimit -n 4096 && \"$WORKSPACE/utils/redis-3.2.9/src/redis-server\" \"$WORKSPACE/utils/redis-3.2.9/redis.conf\""
alias mongo="ulimit -n 4096  && \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-3.6.9/bin/mongod\" --config \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-3.6.9/mongod.conf\""
alias mongo4="ulimit -n 4096  && \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-4.0.16/bin/mongod\" --config \"$WORKSPACE/utils/mongodb-osx-x86_64-enterprise-4.0.16/mongod.conf\""
alias mongo42="ulimit -n 4096  && \"$WORKSPACE/utils/mongodb-macos-x86_64-enterprise-4.2.3/bin/mongod\" --config \"$WORKSPACE/utils/mongodb-macos-x86_64-enterprise-4.2.3/mongod.conf\""

# taken from https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# Print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n}"

# blueutil
alias b="blueutil"
alias bd="blueutil --disconnect \"WH-1000XM3\""
alias bh="blueutil --connect \"WH-1000XM3\""
alias bo="blueutil --power 1"
alias bt="blueutil --power toggle"
alias bz="blueutil --power 0"
