function commit_file() {
  f=$1
  git add $f
  git commit -v -m "add ${f}"
  git push
}

function lc() {
  if [[ `basename "$PWD"` == "leetcode" ]]
    then
    f=$(ls -t | head -n 1)
    commit_file $f 
  fi
}

function api() {
    git clone https://gitlab.com/medipass/software/medipass-api.git ./api
    cd api
    npm i
    mkdir ./.vscode
    cp "$WORKSPACE/utils/commons/launch.json" ./.vscode/launch.json
    cp "$WORKSPACE/utils/commons/Gruntfile.js" ./Gruntfile.js
}

function take() {
    mkdir -p $1
    pushd $1 >/dev/null
}
